
/* General */
 
  body {
    background-color: #B9E3FF;
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
  }
  
  th, td { 
    vertical-align: top; text-align: right;
  }
  
  input {
    margin-left: 15px;
    text-align: right;  
    border: none;
  }

/* Capas */

  #title {
    margin: 40px;
    text-align: left;
  }
  
  #converter {
    margin-left: 90px;
    font-family: Cursive;
    font-size: 18px;
  }
  
  #tests {
    margin: 30px;
    padding-left: 60px;
    font-family: Cursive;
    font-size: 20px;
  }

/* Resultado */

  #converted { 
    color: red; 
    font-size: 16px;
    margin-left: 15px;
  }